<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>

        <div id="app">

            <input type="text" v-model="a"><br>
            <input type="text" v-model="b"><br>
            <button @click="total">Sumar</button>
            <hr>
            Suma: {{ total }}

        </div>


   
    
      
    
        <script src="uno.js"></script>
    </body>
</html>